@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
    --color-1: #f3eeea;
    --color-2: #ebe3d5;
    --color-3: #b0a695;
    --color-4: #776b5d;
    --color-abu: #d9d9d9;
}
body {
    font-family: "Barlow Condensed", sans-serif;
    line-height: normal;
    font-weight: 400;
}

/* Page Landing Start */
.bg-wak {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(7.5px);
    height: inherit;
}
.bg {
    background: url(../img/base.jpg);
    background-size: cover;
    height: 100vh;
}
.input-cari {
    border: none;
    outline: none;
    height: 70%;
    width: 100%;
    border-right: 2px solid black;
}
.tombol-cari {
    height: 100%;
    width: 15%;
    background-color: white;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
.tombol-cari:hover {
    background-color: var(--color-1);
    transition: all 0.3s;
}
.tombol-login {
    border: none;
    border-radius: 10px;
    background-color: var(--color-1);
    width: 6rem;
    height: 2.5rem;
}
/* Page Landing End */

/* Page Login Start */
.login-page {
    height: 100vh;
    background-color: var(--color-3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-login {
    background-color: var(--color-abu);
    padding: 1rem;
    border-radius: 10px;
}
.tombol-submit-login {
    width: 100%;
    background-color: var(--color-4);
    color: white;
}
/* Page Login End */
